body {background-color: rgb(25, 25, 32);}
header {
    display: block; /* Для старых браузеров */
    height: 200px; /* Высота шапки */
    background: url(../img/nismo.jpg) no-repeat center bottom;
   }
   a {border-radius: 10px;
    color: #36454A;
    background: -webkit-linear-gradient(top, #A4D3E0, #A4D3E0 50%, #CBE3EB 50%);
    background: -o-linear-gradient(top, #A4D3E0, #A4D3E0 50%, #CBE3EB 50%);
    background: linear-gradient(to top, #A4D3E0, #A4D3E0 50%, #CBE3EB 50%);
    box-shadow: 2px 2px 3px rgb(235, 233, 233);
 }
 .three a:hover {
    background: -webkit-linear-gradient(bottom, #A4D3E0, #A4D3E0 50%, #CBE3EB 50%);
    background: -o-linear-gradient(bottom, #A4D3E0, #A4D3E0 50%, #CBE3EB 50%);
    background: linear-gradient(to bottom, #A4D3E0, #A4D3E0 50%, #CBE3EB 50%);
 }
 h1 {color: #b2c8cf;}
 footer {color: rgb(94, 113, 124);}
ul {color: rgb(167, 167, 167);}
h2 {color:azure}
div{color:rgb(255, 255, 255); margin:0 25% 0 25%;
   width:50%;}